@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #EFF6FC;
  --primary-color: #6e00ff;
  --selector-color: #f3b559;
  --overlay-color: #612dd1;
  --indicator-color: #f24e1e;
  --text-color: #303030;
  --message-color: #e7e7e7;
  --white-color: "#fff";
  --placeholder-color: #7C7C7C;
}


.root-layout {
    display: flex;
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
  }
  
  .children-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-color) !important;
  }
  